* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	font-family: 'Lato', san-serif;
}

body, html {
	scroll-behavior: smooth;
	color: #222;
}

.img-house {
	height: 4vh;

}

.carousel-inner h2 {
  font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.navbar {
	padding: .8rem;
	background-color: #57b8c4;
	opacity: 80%;
}

.navbar-nav li {
	padding-right: 10px;
}

.nav-link {
	font-size: 1rem !important;
}

.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 200%;

}

.carousel-inner img {
	height: 55vh;
	width: 100%;
	background: 
		linear-gradient(
		rgba(17, 126, 112, 0.75),
		rgba(0, 88, 225, 0.45)
		),
	}


.carousel-caption.caption1 {
	position: absolute;
/*	padding-top: 20%;*/
	transform: translateY(-25%); 
	color: #414852;
}

.carousel-caption.caption1 {
	position: absolute;
	padding-top: 20%;
	transform: translateY(-25%); 
	color: #414852;
}

.carousel-caption.caption2 {
	position: absolute;
	top: 37%;
}


.carousel-caption h1 {
	font-size: 125%;
	margin-bottom: 10px;
	font-weight: 200%;
}


.carousel-caption h3 {
	font-size: 65%;
}


.carousel-caption.btn {
	font-size: 75%;
}


/*Lowe Section*/
.jumbotron-home {
	background: grey; 
	border-radius: 0;
	height: 35vh;
}

.jumbotron-home a { 
	color: white;
}


/*Boxes*/
.box {
	width: 150px;
	height: 150px;
	opacity: 0.9;
	position: absolute;

	top:10px;
	left: 10px;
	border-radius: 50%;
}


.red {
	background: lightgrey;
	z-index: 1;
	background: 
	linear-gradient
}

.green {
	background: blue;
	z-index: 1;
}

.green h1, p {
	text-align: center;
	margin: 0 auto;
}



@media only screen and (min-width: 401px) and (max-width: 960px) {

	.carousel-caption.caption1 {
		position: absolute;
		top: 30%;
		transform: translateY(-75%);
		color: #414852;
		font-size: 130%;
	}

	.carousel-caption.caption2 {
		position: absolute;
		top: 50%;
		font-size: 130%;
	}

	.carousel-caption.caption3 {
		position: absolute;
		top: 55%;
		font-size: 130%;

	}

}

@media only screen and (min-width: 960px) {

	.carousel-caption.caption1 {
		position: absolute;
		top: 20%;
		transform: translateY(-30%); 
		color: #414852;
		font-size: 200%;
	}

	.carousel-caption.caption2 {
		position: absolute;
		top: 50%;
		font-size: 200%;

	}

	.carousel-caption.caption3 {
		position: absolute;
		top: 50%;
		font-size: 200%;

	}

}


/*About Page*/

#jumbotron-about {
	background:
		linear-gradient(
			rgba(17,80,80,0.75),
			rgba(0,0,0,0.75)
			),
		url(https://images.unsplash.com/photo-1502902020937-d77a834d5e5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)
	;
	background-size: contain;
	background-position: bottom;
	background-position: no-repeat;
	height: 30vh;
	padding-top: 20px;
	border-radius: 0;
	margin-bottom: 0;
}

#landing-about {
	color: #f2f2f2;
	padding-top: 10px;
	letter-spacing: 5px; adds spacing between letters
	font-family: hinde, sans-serif;/* declaration of a downloaded font*/
}


#mission {
	height: 100%;
	background-color: #333; /*off black*/
	color: #fff; /*off white*/
	text-align: center;
}

#vision {
	height: 100%;
	background-color: #fff;
	color: #333;
}

.about-tags {
	font-weight: bold;
	font-family: hinde, sans-serif;	
}

/*end about/

/*Start of Catalogs */
.card.gallery {
	margin-bottom: 50px;
}

ul {
	text-align: center;
	margin-top: 25px;
}

.gallery li {
	display: inline-block;
	list-style: none;
	padding: 5px 0;
	border-radius: 50px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	background: #262626;
	color: #fff;
	width: 100px;

}

.filtr-container img {
	margin-bottom: 40px;
	margin-left: 5px;
	margin-right: 5px;  
	width: 100%;
	border-radius: 5%;

}

script 