* {
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
	font-family: 'Nunito', sans-serif;
}


/*Landing*/
.jumbo-landing {
	height: 100vh;
	background:
		url(https://images.unsplash.com/photo-1502921451607-29fa99d270d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);	
	;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0px !important;
	color: black;
	z-index: 1;
	position:relative;
}

.media {
	position: absolute;
	right: 12rem;
	bottom: 0rem;	
}

/*Carousel*/

.carousel-item1 h1 {
	color: grey;
}


.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}


/*first header */

.intro {
	padding-top: 70px ;
}



.jumbo-landing h1 {
	font-size: 30px;
	font-family: 'Sacramento', cursive;
	position: relative;
	color: orange;


}

.intro h6 {
	padding-top: 0; 
	font-size: 15px;
	color: grey;
	transform: uppercase;
	font-weight: bold;

}


/*second header */
.intro-add {
	padding-top: 150px ;
	margin: 0 auto;
	top: 5rem;
}


.jumbo-landing h2 {
	font-size: 20px;
	color: grey;
	margin-top: 20px;
	font-weight: bold;

}


.jumbo-landing .btn {
	font-size: 12px;
	color: white;
	position: relative;
	margin-top: 10px;
	text-transform: uppercase;
	background-color: #FFBE0B;
	border-style: none;
	font-weight: bold;
}

.jumbo-landing .btn:hover {
	background-color: #F95738;
}



.jumbo-landing .media {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}


#heading img {
	width: 30px;
}

.navbar {
/*		background-color: rgba(219,178,28,100);*/
	background-color: #FAA307;
}

#home .navbar-brand {
	font-size: 25px;
	margin-bottom: 0;
}

#about .navbar-brand {
	font-size: 25px;
	margin-bottom: 0;
}

.navbar-nav a {
	color: white;
	margin: 0 2px;
	margin-top: 30px;

}

.nav-link .active {
	border: 1px solid orange;
/*	background: grey;*/
}

.navbar-toggler {
	color: white!important;
	border: none !important;
	outline: none !important;
}

.navbar-toggler .fa {
	color: white;
	font-size: 26px;
}

.nav-link:hover {
	font-weight: 600;
/*	border: 1px solid white;*/
	margin-bottom: -1px;
	border-radius: 10%; 
	color: #5E6472;
}


#heading .btn { 
	border:1px solid grey;
	margin-top: 20px;
	padding: 6px 26px;
	font-size: 16px; 
}


.social-media a {
	color: #ecf5ec;
	margin: 0.5rem;
	font-size: 1.5rem;
	opacity: 0.75;
}

.social-media a:hover {
	opacity: 1;
}

.media a {
	color: #ecf5ec;
	margin: 0.5rem;
	font-size: 1.5rem;
	opacity: 0.75;
}

.media a:hover {
	opacity: 1;
}


/*homepage*/

#home img {
	width: 30px;
}

/*.jumbo-home {
	height: 100vh;
	background-image:url(https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);	
	;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0px !important;
	color: black;
	width: 100%;
}*/


.navbar-brand {
	font-family: 'Sacramento', cursive;
	color: white;
/*	font-weight: bold;*/
}


/*second header */
.intro-home {
	padding-top: 150px ;
}

.carousel{
	padding: 0 !important;
}

.home-padding {
	margin-top: 10px;
}

.home-padding a {
	color: rgba(219,178,28,100);
	margin: 0.5rem;
	font-size: 2.5rem;
	opacity: 0.75;
}

.home-padding h2 {
	font-size: 20px;
	font-weight: bold;

}

.about-below .btn{
	font-size: 20px;
	margin-bottom: 1rem;
	background-color: #FFBE0B;
	color: white;
	border-style: none;
	border-radius: 7px;
	font-weight: bold;
}

.about-below .btn:hover{
	background-color: #b7b7a4; 
};

.carousel-item h1 {
	font-size: 3rem;
}

.footer {
	color: #ecf5ec;

}


/*About*/

/*team*/
#about img {
	width: 30px;
}

.about-team {
	padding-top: 100px;
}

.about-team h1 {
	font-size: 60px;
	font-family: 'Sacramento', cursive;
	color: orange;
}

.card-body .btn:hover {
	background-color: #e5e5e5;
	color: #3d405b;
}


.team .card{
	height: 535px;
	margin-bottom: 5px;
}

/*services*/
.about-service {
	padding-top: 40px;
	background-color: #fff1e6;
}

.about-service h1 {
	font-size: 60px;
	font-family: 'Sacramento', cursive;
	color: orange;
}

.service-padding {
/*	margin-top: 10px;*/
	background-color: #fff1e6;
}

.service-padding a {
	color: rgba(219,178,28,100);
	margin: 0.5rem;
	font-size: 5rem;
	opacity: 0.75;
}

.service-padding h2 {
	font-size: 20px;
	font-weight: bold;

}



/*Pricing*/
.about-pricing h1 {
	font-size: 60px;
	font-family: 'Sacramento', cursive;
	color: orange;
}

.card-header h1{
	background-color: red;
}

.card-header {
	background-color: grey;
	color: white;
}

.card-body h3 {
	text-decoration: line-through;
}

.card-title {
	font-weight: bold;
}

.card-body p:: {
	text-decoration: line-through;
}

.card-body .btn {
	background-color: grey;
	color: white;
}

.pricing-padding .card{
	height: 400px;
}

/*styling test*/

.jumbotron {
	background:
		url(https://thumbs.dreamstime.com/z/yellow-dot-pattern-seamless-vector-yellow-dot-pattern-seamless-vector-background-yellow-polka-dots-light-backdrop-124018612.jpg);
	);

}

.jumbotron h1 {
	font-weight: bold;
	color: grey;
}

.jumbotron .btn {
	background-color: black;
	color: white;
}




/*Gallery*/
.gallery-heading {
	padding-top: 250px;
}

.gallery h1 {
	font-size: 60px;
	font-family: 'Sacramento', cursive;
	color: orange;
}

#section1 h1 {
	font-size: 60px;
	color: orange;
	font-weight: bold;
}

.beige-section h3 {
	font-size: 50px;
	color: orange;
	font-weight: bold;
}



#section1 img:hover {
	transform: scale(1:3);
}

/*.btn-group {
	display: inline-block;

} 
*/
.button a {
	border: 1px solid orange;
	background-color: darkorange;
	border-radius: 6px;
	color: #edf2f4;
	/*padding: 10px;*/
	margin-top: 5px;
}

.button a:hover {
	background-color: #fed9b7;
	color: #354f52;
}


/*.happy-padding {
	padding: 20px; 
}
*/

/*contact*/
#jumbotron-contact {
	background:
	url(https://images.unsplash.com/photo-1493219686142-5a8641badc78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)
	;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 50vh;
	border-radius:0;
	margin-bottom:0;
}

#jumbotron-contact h1 {
	font-size: 40px;
	color: black;
}

#jumbotron-contact h3 {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: black;
}


#landing-contact {

	color:#f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: 'Balsamiq Sans', cursive;
}

#Email {
	height: 80%;
}


.left-side .first {
	font-weight: bold;
}

.left-side .second {
	color: red;
	font-weight: bold;
}

.left-side p {
	color: grey;
}

.addleft-side h6 {
	color: grey;
}

.addleft-side p {
	font-weight: bold;
}


#gmap {
	width: 100%;
	display: block;
	border: none;
	height: 65vh;
	border-radius: 10px;
}

#Email .btn {
	background-color: #4a4e69;
	color: white;
	border-style: none;
}

#Email .btn:hover {
	background-color: #FFBE0B;
	color: white;
	border-style: none;
}


/*end contact*/

.footer {
	background-color: #FAA307;
}


/*/*image comparison*/
 .container.hover {
 	position: relative;
 	left: 67%;
 	width: 500px;
 	height: 150px;
 	margin-top: 70px;
 }

 .container.hover img {
 	width: 500px;
 	height: 300px;
 }

 .imageBox {
 	position: absolute;
 	top: 0;
 }

 .imageAfter {
 	width: 0;
 	transition: 2s;
 	overflow: hidden;
 	/*border-right: 10px solid #f00;*/

 }

 .container.hover:hover .imageAfter {
 	width: 100%;
 }

/* .up-icon {
 	background-color: black;
 }
*/
/*Media Queries*/

@media only screen and (max-width: 960px) {

	.intro-add {
		padding-top: 150px ;
		margin: 0 auto;
	}

	.navbar-nav a {
		color: white;
		margin: 0 2px;
		margin-top: 5px;
	}

	.nav-link:hover {
	margin-bottom: -1px;
	border-style: none !important;
	}


	.gallery-heading {
		padding-top: 200px;
	}

	 .container.hover {
	 	display: none;
	 }

	/* .imageBox {
	 	display: none;
	 	top: 10px;
	 }*/
	 #gallery.gallery-heading {
	 	padding: 100px 0px 0px;
	 }


}

@media only screen and (min-width: 960px) {

	.navbar-nav a {
		color: white;
		margin: 0 2px;
		margin-top: 5px;
	}

	.intro {
		padding-top: 100px;
	}

	.jumbo-landing h1 {
		font-size: 40px;
		font-family: 'Sacramento', cursive;
		color: orange;
		margin-right: 30px; 
		text-align: right !important;
	}

	.jumbo-landing h6 {
		padding-top: 0; 
		font-size: 13px;
		color: grey;
		text-transform: uppercase;
		text-align: right !important;
		margin-right: 70px;
		position: relative;

	}


	.intro-add {
		padding-top: 80px;
		margin-right: 25px;
		width: 250px;

	}

	.jumbo-landing h2 {
		font-size: 20px;
		color: grey;
		margin-top: 20px;
		font-weight: bold;
		line-height: 1.5;

	}

	.jumbo-home h1 {
		color: brown;
		font-family: 'Sacramento', cursive;
		font-weight: 600px; 
		margin-top: -70px;
	}


	.gallery-heading {
	padding-top: 250px;
	}

	.social-media a {
		color: white;
		font-size: 1.5rem;
		opacity: 0.75;
		margin: 0.5rem;
	}

	.media a {
		color: grey;
		font-size: 1.5rem;
		opacity: 0.75;
		margin: 0.5rem;
	}


	.jumbo-landing .media {
		display: flex;
		justify-content: right !important;
	}

	.media {
		position: absolute;
		right: 5rem;
		bottom: 0rem;	
	}

	.container.hover {
		display: none;
	}

	#gallery.gallery-heading {
	 	padding: 100px 0px 0px;
	}

}


@media only screen and (min-width: 1044px) {
 .container.hover {
 	position: relative;
 	top:150px;
 	left:25%%;
 	transform: translate(-90%,-50%);
 	width: 500px;
 	height: 150px;
 	}
